{{ template "components/_header-dashboard" . }}
<body>

    <div class="container py-3">
        <div class="header bg-light rounded d-flex align-items-center justify-content-between p-3">
            <div class="d-flex align-items-center">
                <img src="/web/images/logo/logo-chat-app.png" alt="Logo" class="rounded-circle me-3" style="width: 40px; height: 40px; object-fit: cover;">
        
                <div>
                    <input type="text" id="userID" value="{{.User.Id}}" hidden disabled>
                    <h3>👤 
                        <span id="username">
                            {{if .User.Username}}
                                {{.User.Username}}
                            {{else}}
                                username
                            {{end}}
                        </span>
                    </h3>
        
                    <button id="editUsername" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#editUsernameModal">Edit Username</button>
                    <button id="editPassword" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#editPasswordModal">Edit Password</button>
                    <button id="logoutBtn" class="btn btn-outline-danger btn-sm">Logout</button>
                </div>
            </div>
        
            <button class="btn btn-outline-success" id="createRoomBtn" data-bs-toggle="modal" data-bs-target="#createRoomModal">+ Create Room</button>
        </div>
        
    
        <!-- Tabs for Room -->
        <div class="tab-buttons mb-3">
            <div class="row g-2 align-items-center">
                <!-- Tab Buttons -->
                <div class="col-12 col-md-auto">
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary active" id="publicRoomsBtn">Public Room</button>
                        <button class="btn btn-outline-secondary" id="myRoomsBtn">My Room</button>
                        <button class="btn btn-outline-dark" id="joinedRoomsBtn">Joined Room</button>
                    </div>
                </div>
        
                <!-- Dropdown Filter -->
                <div class="col-6 col-md-auto ms-md-auto">
                    <select id="roomFilter" class="form-select form-select-sm">
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>

                <!-- Dropdown File Count -->
                <div class="col-12 col-md-auto">
                    <select id="roomShowFilter" class="form-select form-select-sm">
                        <option value="5">5 per page</option>
                        <option value="10">10 per page</option>
                        <option value="15">15 per page</option>
                        <option value="20">20 per page</option>
                    </select>
                </div>
        
                <!-- Search Input -->
                <div class="col-6 col-md-auto">
                    <input type="text" id="roomSearch" class="form-control form-control-sm" placeholder="Search Room...">
                </div>
            </div>
        </div>
        
        
        
    
        <!-- Room List -->
        <div class="room-list" id="roomList">
            <!-- Example Room Cards -->
            <!-- <div class="room-card" onclick="enterRoom('Nama-Room 1')">
                <h5 class="fw-bold">Nama-Room 1</h5>
                <p class="text-muted">Owner: <span class="fw-bold">username-role</span></p>
            </div> -->
            <p class="text-muted">No room available</p>
        </div>
    
        <!-- Pagination -->
        <nav>
            <ul class="pagination mt-4">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    
    <!-- Modal for Create Room -->
    <div class="modal fade" id="createRoomModal" tabindex="-1" aria-labelledby="createRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRoomModalLabel">Create New Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createRoomForm">
                        <div class="alert alert-info" role="alert">
                            Leave the password field empty to create a public room. Fill in the password to create a private room.
                        </div>

                        <div class="mb-3">
                            <label for="roomName" class="form-label">Room Name</label>
                            <input type="text" class="form-control" id="roomName" placeholder="Enter room name" required maxlength="30" minlength="1">
                        </div>
                        <div class="mb-3">
                            <label for="roomDescription" class="form-label">Room description</label>
                            <textarea class="form-control" id="roomDescription" placeholder="Enter room description" required maxlength="140" minlength="1" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="passwordRoomCreate" class="form-label">Password (Optional)</label>
                            <input type="password" class="form-control" id="passwordRoomCreate"></input>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPasswordRoomCreate" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPasswordRoomCreate"></input>
                        </div>
                        <button type="submit" class="btn btn-success">Create Room</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal for Edit Username -->
    <div class="modal fade" id="editUsernameModal" tabindex="-1" aria-labelledby="editUsernameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUsernameModalLabel">Edit Username</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editUsernameForm">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" 
                            value="{{if .User.Username}}{{.User.Username}}{{else}}username{{end}}" 
                            disabled>
                        </div>
                        <div class="mb-3">
                            <label for="usernameEditInput" class="form-label">New Username</label>
                            <input type="text" class="form-control" id="usernameEditInput" placeholder="Enter New Username" 
                            value="{{if .User.Username}}{{.User.Username}}{{else}}username{{end}}"
                            required maxlength="50" minlength="1">
                        </div>
                        <button type="submit" class="btn btn-success">Edit Username</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal for Edit Password -->
    <div class="modal fade" id="editPasswordModal" tabindex="-1" aria-labelledby="editPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPasswordModalLabel">Edit Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editPasswordForm">
                        <div class="mb-3">
                            <label for="passwordEditNowInput" class="form-label">Password Now</label>
                            <input type="password" class="form-control"  id="passwordEditNowInput"
                            placeholder="Enter Current Password" required>
                        </div>
                        <div class="mb-3">
                            <label for="passwordEditNewInput" class="form-label">New Password</label>
                            <input type="password" class="form-control"  id="passwordEditNewInput"
                            placeholder="Enter New Password" required minlength="6">
                        </div>
                        <div class="mb-3">
                            <label for="passwordEditConfirmInput" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control"  id="passwordEditConfirmInput"
                            placeholder="Enter Confirm New Password" required minlength="6">
                        </div>
                        <button type="submit" class="btn btn-success">Edit Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal for Edit Room -->
    <div class="modal fade" id="editRoomModal" tabindex="-1" aria-labelledby="editRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRoomModalLabel">Edit Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editRoomForm">
                        <div class="mb-3">
                            <label for="roomCodeEdit" class="form-label">Code Room</label>
                            <input type="text" class="form-control" id="roomCodeEdit" required maxlength="30" minlength="1" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="roomNameEdit" class="form-label">Room Name</label>
                            <input type="text" class="form-control" id="roomNameEdit" placeholder="Enter room name" required maxlength="30" minlength="1">
                        </div>
                        <div class="mb-3">
                            <label for="roomDescriptionEdit" class="form-label">Room description</label>
                            <textarea class="form-control" id="roomDescriptionEdit" placeholder="Enter room description" required maxlength="140" minlength="1" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="isPrivateEdit" class="form-label">Room Type</label>
                            <select class="form-control" id="isPrivateEdit">
                                <option value="false">Public</option>
                                <option value="true">Private</option>
                            </select>
                        </div>
                        <div id="passwordFields" class="d-none">
                            <div class="alert alert-info" role="alert">
                                <strong>Note:</strong> If the room remains private and the password is left blank, the current password will not change.
                            </div>
                            <div class="mb-3">
                                <label for="editPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="editPasswordRoom" placeholder="Enter password">
                            </div>
                            <div class="mb-3">
                                <label for="editConfirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="editConfirmPasswordRoom" placeholder="Confirm password">
                            </div>
                        </div>
                        <button type="submit" id="editRoomBtn" class="btn btn-success">Edit Room</button>
                    </form>                    
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Delete Confirmation -->
    <div class="modal fade" id="deleteRoomModal" tabindex="-1" aria-labelledby="deleteRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRoomModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this room?</p>
                    <p>Room Code: <strong id="roomCodeDeleteModal"></strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Yes, Delete</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Exit Joined Room Confirmation -->
    <div class="modal fade" id="exitRoomModal" tabindex="-1" aria-labelledby="deleteRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRoomModalLabel">Confirm Exit Joined Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want exit from joined this room?</p>
                    <p>Room Code: <strong id="roomCodeExitModal"></strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmExitBtn">Yes, Exit</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Enter Password enter Private Room -->
    <div class="modal fade" id="enterPassPrivateRoom" tabindex="-1" aria-labelledby="enterPassPrivateRoomLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enterPassPrivateRoomLabel">Enter Password Private Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title mb-3 text-center">Join Private Room</h5>
                    <p class="text-muted text-center">
                        Please enter the password to join the private room.
                    </p>
                    <div class="alert alert-info text-center" role="alert">
                        Room Code: <strong id="roomCodePrivateJoin"></strong>
                    </div>
                    <form id="enterPasswordPrivateRoomForm">
                        <div class="mb-3">
                            <label for="inputPassPrivateRoom" class="form-label">Password</label>
                            <input 
                                type="password" 
                                class="form-control"  
                                id="inputPassPrivateRoom" 
                                placeholder="Enter password to join" 
                                required 
                                autofocus>
                            <div class="form-text">
                                Password is case-sensitive. Make sure it's correct.
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Enter</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


    {{ template "components/_footer-script" . }}

    {{ template "components/_loading" . }}

    {{ template "components/_modal-infor" . }}
<script>
    const modalAddRoom = new bootstrap.Modal($('#createRoomModal'))
    const editPassModal = new bootstrap.Modal($('#editPasswordModal'))
    const editUSernameModal = new bootstrap.Modal($('#editUsernameModal'))

    hideLoader()
    let ROOM_BASE_URL = '/api/rooms'
    let ROOM_IS_SELF = false
    let ROOM_IS_JOINED = false
    let SEARCH_TIMEOUT = null
    let SEARCH_ROOM = ''
    let FILTER_ROOM = 'newest'
    let PAGE = 1 
    let PER_PAGE = 5
    
    
    // --------------- MAIN FUNCTION LOAD CHAT DATA AND PAGINATION
    async function changePage(page, per_page){
        PAGE = page
        PER_PAGE = per_page
        loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)
    }

    function updatePagination(pagination) {
        // structure of pagination object
        // pagination = {
        //     current_page: 1,
        //     total_page: 1,
        //     total_data: 1,
        //     per_page: 1
        // } 

        const paginationContainer = $('.pagination')
        paginationContainer.empty()

        const {current_page, total_page, total_data, per_page} = pagination
        const rangePageShow = 1

        // prviouse buttom
        paginationContainer.append(`
            <li class="page-item ${current_page === 1 ? 'disabled' : ''}">
                <button class="page-link" onclick="changePage(${current_page - 1}, ${PER_PAGE})" ${pagination.current_page === 1 ? 'disabled' : ''}>Previous</button>
            </li>
        `)

        // Tambahkan halaman pertama
        if (current_page > rangePageShow + 1) {
            paginationContainer.append(`
                <li class="page-item">
                    <button class="page-link" onclick="changePage(1, ${PER_PAGE})">1</button>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            `);
        }

        // Tambahkan halaman di sekitar halaman aktif
        const start = Math.max(1, current_page - rangePageShow);
        const end = Math.min(total_page, current_page + rangePageShow);

        for (let i = start; i <= end; i++) {
            paginationContainer.append(`
                <li class="page-item ${current_page === i ? 'active' : ''}">
                    <button class="page-link" onclick="changePage(${i},  ${PER_PAGE})">${i}</button>
                </li>
            `);
        }

        // Tambahkan halaman terakhir
        if (current_page < total_page - rangePageShow) {
            paginationContainer.append(`
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
                <li class="page-item">
                    <button class="page-link" onclick="changePage(${total_page}, ${PER_PAGE})">${total_page}</button>
                </li>
            `);
        }

        // next button
        paginationContainer.append(`
            <li class="page-item ${current_page === total_page? 'disabled' : ''}">
                <button class="page-link" onclick="changePage(${current_page + 1}, ${PER_PAGE})" ${current_page === total_page ? 'disabled' : ''}>Next</button>
            </li>
        `)

    }

    async function loadChat(self = false, joined = false) {
        if (self) ROOM_BASE_URL = "/api/rooms/?self=true&joined=false"
        else if (joined) ROOM_BASE_URL = "/api/rooms/?self=false&joined=true"
        else ROOM_BASE_URL = "/api/rooms/?self=false&joined=false"

        ROOM_BASE_URL += `&search=${SEARCH_ROOM}&filter=${FILTER_ROOM}&page=${PAGE}&per_page=${PER_PAGE}`

        showLoader()

        try {
            const resp = await fetch(ROOM_BASE_URL, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            const response = await resp.json( )

            if(response.error) throw new Error('Failed to load chat: ' + response.message)
            else {
                const roomList = $('#roomList')
                roomList.empty()
                
                roomData = response.data.rooms
                paginationData = response.data.pagination

                if (roomData.length === 0) {
                    roomList.append('<p class="text-muted">No room available</p>')
                } else {
                    roomData.forEach(room => {

                        let is_owner = false

                        // if user is owner or user is on joined room tab set is_owner to true and this make button for the room is "open" button notn "join" button
                        if(room.username === ($('#username').text()).trim() || ROOM_IS_JOINED) is_owner = true

                        const create_date = new Date(room.created_at).toLocaleDateString('en-US', { 
                            year: 'numeric', month: 'long', day: 'numeric' 
                        }) // Format menjadi tanggal yang lebih rapi

                        // ------- EXIT/ REMOVE/ QUIT JOINED ROOM BUTTON
                        // basically this button just show up on "joined room" button
                        let buttonExitJoinedRoom = `
                                <button class="btn btn-danger btn-sm mt-2" onclick="openExitJoinedRoomModal(${room.id}, '${room.room_code}')">Exit</button>
                        `

                        // ------- EDIT DELETE BUTTON ROOM
                        // button join or open room for the condition if user is owner/ already joined the room or not
                        let button_join = `<button onClick="openRoom('${room.room_code}', '${room.id}', ${is_owner}, ${room.is_private})" class="btn btn-success btn-sm mt-2">Join</button>`
                        
                        if (is_owner) button_join = `<a href="/rooms/${room.room_code}" class="btn btn-primary btn-sm mt-2">Open</a>`

                        // add delete and edit button if user is owner for the "my room" tab
                        let buttonRoom = `
                            <div class="room-actions">
                                <button class="btn btn-sm btn-warning" onclick="openEditModal(${room.id}, '${room.room_code}', '${room.room_name}', '${room.description}', ${room.is_private})">Edit</button>
                                <button class="btn btn-sm btn-danger" onclick="openDeleteModal(${room.id}, '${room.room_code}')">Delete</button>
                            </div>
                        `

                        let roomCard = `
                            <div class="room-card text-justify" id="room-${room.room_code}">
                        `

                        // add button for delete and edit room if user is owner (basically just using it on "my room" tab)
                        if (self) roomCard += buttonRoom

                        roomCard += `
                                <h5 class="fw-bold text-primary mb-2">${room.room_name}</h5>
                                <p class="text-muted mb-1">
                                    <strong>Owner:</strong> 
                                    <span class="fw-bold text-success">${room.username}</span>
                                </p>
                                <p class="text-muted mb-1">
                                    <strong>Code:</strong> 
                                    <span class="fw-bold">${room.room_code}</span>
                                </p>
                                <p class="text-muted mb-3">
                                    <strong>Description:</strong><br>
                                    <span style="text-align: justify;">${room.description}</span>
                                </p>
                                <p class="text-muted mb-1">
                                    <strong>Created At:</strong> 
                                    <span class="fw-bold">${create_date}</span>
                                </p>
                                <p class="text-muted mb-0">
                                    <strong>Type:</strong> 
                                    <span class="fw-bold" style="color: ${room.is_private ? 'red' : 'green'};">
                                        ${room.is_private ? 'Private Room 🔒' : 'Public Room 🌐'}
                                    </span>
                                </p>

                                ${button_join}
                                ${ROOM_IS_JOINED ? buttonExitJoinedRoom : ''}

                            </div>
                        `
                        // (ABOVE) add exit button if user is joined the room (basically just using it on "joined room" tab)

                        roomList.append(roomCard);
                    })

                }

                updatePagination(response.data.pagination)

                hideLoader()
            }

        } catch (e) {
            hideLoader()
            showInfoModal('Failed load chat: ' + e.message, 'Failed to load chat')
        }
    }


    // edit modal function and request to server
    async function openEditModal(id, code, name, description, status_now) {
        const editModal = new bootstrap.Modal($('#editRoomModal'))
        $('#isPrivateEdit').val(status_now ? 'true' : 'false')
        if (status_now) $('#passwordFields').removeClass('d-none')
        else $('#passwordFields').addClass('d-none')

        $('#roomCodeEdit').val(code)
        $('#roomNameEdit').val(name)
        $('#roomDescriptionEdit').val(description)
        let is_private = $('#isPrivateEdit').val() === 'true' ? true : false
        editModal.show()

        $('#isPrivateEdit').on('change', function() {
            const isPrivate = $('#isPrivateEdit').val()
            if (isPrivate === 'true') {
                $('#passwordFields').removeClass('d-none')
                is_private = true

            } else {
                $('#passwordFields').addClass('d-none')
                is_private = false
            }
        })

        // edit room modal 
        $('#editRoomBtn').off('click').click(async function() {
            event.preventDefault()

            const new_name = $('#roomNameEdit').val()
            const new_description = $('#roomDescriptionEdit').val()
            const pass_input = $('#editPasswordRoom').val()
            const pass_input_confirm = $('#editConfirmPasswordRoom').val()
            let new_password = ''

            if(is_private) {
                new_password = pass_input
                // if old status is public and change to private, so check the password
                // or if the room is private and user want to change the password
                if ((!status_now && is_private) || (is_private && pass_input !== '')) {

                    if (pass_input.length < 4 || pass_input.length > 30) {
                        showInfoModal('Password length must be between 4 and 30 characters and you must include password if change the room from public to private', 'Edit Room Failed')
                        return
                    }

                    if (pass_input != pass_input_confirm) {
                        showInfoModal('Password and confirm password not same', 'Edit Room Failed')
                        return
                    }
                }
            }
            
            const dataReq = JSON.stringify({
                id: id,
                room_name: new_name,
                description: new_description,
                is_private: is_private,
                old_status: status_now,
                password: new_password
            })
            editModal.hide()
            showLoader()

            try {
                const resp = await fetch("/api/rooms", {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: dataReq
                })
                const response = await resp.json()

                if(response.error) throw new Error('Failed to edit room with code ' + code + ': ' + response.message)
                else {
                    hideLoader()
                    await loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)
                    showInfoModal(`Success edit room with id: <b>${code}</b>`, 'Edit Room Success')
                }

            } catch(e) {
                showInfoModal(e.message, 'Edit Room Failed')
                hideLoader()
            } finally {
                $('#editPasswordRoom').val('')
                $('#editConfirmPasswordRoom').val('')
            }
        })
    }

    // delete modal function and request to server
    async function openDeleteModal(id, code) {
        const deleteModal = new bootstrap.Modal($('#deleteRoomModal'))
        $('#roomCodeDeleteModal').text(code)
        deleteModal.show()

        $('#confirmDeleteBtn').one('click', async function() {
            event.preventDefault()

            deleteModal.hide()
            showLoader()

            try {
                const resp = await fetch("/api/rooms", {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({id: id})
                })
                const response = await resp.json()

                if (response.error) throw new Error('Failed to delete room with code ' + code + ': ' + response.message)
                else {
                    hideLoader()

                    await loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)

                    showInfoModal(`Success delete room with id ${code}`, 'Delete Room Success')
                }

            } catch(e) {
                showInfoModal(e.message, 'Delete Room Failed')
                hideLoader()
            }
        })
    }

    // exit joined room modal function and request to server
    async function openExitJoinedRoomModal(id, code) {
        const exitRoomModal = new bootstrap.Modal($('#exitRoomModal'))
        $('#roomCodeExitModal').text(code)
        exitRoomModal.show()

        $('#confirmExitBtn').click(async function() {
            event.preventDefault()

            exitRoomModal.hide()
            showLoader()

            try {
                const resp = await fetch("/api/rooms/members", {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({room_id: id})
                })
                const response = await resp.json()

                if (response.error) throw new Error("Failed exit joined room: " + response.message)
                else {
                    hideLoader()

                    await loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)

                    showInfoModal(`Success exit room with id ${code}`, 'Exit Room Success')
                }
                
            } catch(e) {
                showInfoModal(e.message, 'Exit Room Failed')
                hideLoader()
            }
        })
    }

    async function joinRoomAPI(room_id, password) {
        const response = await fetch("/api/rooms/members", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                room_id: room_id,
                password: password,
            })
        })
        const resp = await response.json()

        //  return resp
        return resp
    }

    // button function
    async function openRoom(room_code, room_id, is_owner, is_private_room) {
        // this function for joining room for private room when user try to join the room

        const id = parseInt(room_id)
        let success_open = true
        let message = ''
        // if not owner, join the room (add the user to the room as new member)
        if(!is_owner) {
            let password = ''
            // first check if the room is private or not and if it private so show the password modal
            if (is_private_room) {
                const enterPrivateRoomModal = new bootstrap.Modal($('#enterPassPrivateRoom'))
                $('#roomCodePrivateJoin').text(room_code)
                enterPrivateRoomModal.show()

                $('#enterPassPrivateRoom').submit(async function() {
                    event.preventDefault()

                    showLoader()

                    password = $('#inputPassPrivateRoom').val().trim()
                    enterPrivateRoomModal.hide()

                    let resp = await joinRoomAPI(id, password)
                    
                    hideLoader()
                    $('#inputPassPrivateRoom').val('')

                    success_open = resp.error ? false : true
                    message = resp.message

                    if (success_open) window.location.href = `/rooms/${room_code}`
                    else showInfoModal(message, 'Failed to join room')
                })
            } else window.location.href = `/rooms/${room_code}`
        } else window.location.href = `/rooms/${room_code}`
    }


    $("document").ready(async function() {
        // load room chat
        loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)

        // --------------------------------------------- EDIT USERNAME AND PASSWORD
        // edit username
        $('#editUsernameForm').submit(async function() {
            event.preventDefault()

            const username = $('#usernameEditInput').val().trim()

            showLoader()

            try {
                const resp = await fetch("/api/users", {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: parseInt($('#userID').val()),
                        username: username
                    })
                })
                const response = await resp.json()

                editUSernameModal.hide()

                if(response.error) throw new Error(response.message)
                else {
                    hideLoader()
                    showInfoModal('Success edit username', 'Edit Username Success')
                    setTimeout(() => {
                        window.location.reload()
                    }, 1000)
                }

            } catch(e) {
                showInfoModal('Failed to edit username: ' + e.message, 'Edit Username Failed')
                hideLoader()
            }
        })

        // edit password
        $('#editPasswordForm').submit(async function() {
            event.preventDefault()

            const passwordNow = $('#passwordEditNowInput').val().trim()
            const newPassword = $('#passwordEditNewInput').val().trim()
            const confirmPassword = $('#passwordEditConfirmInput').val().trim()

            if (newPassword !== confirmPassword) {
                showInfoModal('Password and password confirmation not same', 'Edit Password Failed')
                return
            }

            showLoader()

            try {
                const resp = await fetch("/api/users/password", {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: parseInt($('#userID').val()),
                        password: passwordNow,
                        new_password: newPassword
                    })
                })
                const response = await resp.json()

                if(response.error) throw new Error(response.message)
                else {
                    hideLoader()
                    editPassModal.hide()
                    $('#passwordEditNowInput').val('')
                    $('#passwordEditNewInput').val('')
                    $('#passwordEditConfirmInput').val('')
                    showInfoModal('Success edit password', 'Edit Password Success')
                }

            } catch(e) {
                showInfoModal('Failed to edit password: ' + e.message, 'Edit Password Failed')
                hideLoader()
            }
        })

        // logout button
        $('#logoutBtn').click(async function() {
            event.preventDefault()

            showLoader()

            try {
                const resp = await fetch("/api/logout", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                const response = await resp.json()

                if (!response.error) {
                    hideLoader()
                    window.location.href = '/login'
                } else {
                    hideLoader()
                    showInfoModal('Logout Failed', 'Failed to logout')
                }

            } catch(e) {
                hideLoader()
                showInfoModal('Logout Failed', 'Failed to logout')
            } 
            
        });

        // Create Room
        $('#createRoomForm').submit(async function() {
            event.preventDefault()

            const roomName = $('#roomName').val().trim()
            const roomDescription = $('#roomDescription').val().trim()
            let password = ""
            let room_private = false

            // check password, and if it valid so the room is private
            const passInput = $('#passwordRoomCreate').val().trim()
            const passConfirm = $('#confirmPasswordRoomCreate').val().trim()
            if (passInput.length > 0) {
                if (passInput.length < 4 || passInput.length > 30) {
                    showInfoModal("Password length must be between 4 and 30 characters", 'Create Room Failed')
                    return
                }

                if(passInput !== passConfirm) {
                    showInfoModal("Password and confirm password not same", 'Create Room Failed')
                    return
                }

                password = passInput
                room_private = true
            }

            const dataReq = JSON.stringify({
                room_name: roomName,
                description: roomDescription,
                password: password,
                is_private: room_private
            })

            showLoader()

            try {
                const resp = await fetch("/api/rooms", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: dataReq
                })
                const response = await resp.json()
                if (!response.error) {
                    hideLoader()
                    modalAddRoom.hide()
                    $('#roomName').val('')
                    $('#roomDescription').val('')
                    $('#passwordRoomCreate').val('')
                    $('#confirmPasswordRoomCreate').val('')

                    PAGE = 1 // automatic set page to first page if using create room
                    $('#roomSearch').val('') // clear search input
                    SEARCH_ROOM = ''

                    await loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)

                    showInfoModal("Success Create Room", 'Create Room Success')
                } else {
                    hideLoader()
                    showInfoModal("Failed Create Room, Error: " + response.message, 'Create Room Failed')
                }

            } catch (e) {
                hideLoader()
                showInfoModal("Failed Create Room, Error: " + e.message, 'Create Room Failed')
            } 

        })




        // --------------------------------------------- FILTER ROOM, SEARCH ROOM

        // filter show room olderst/ newest
        $('#roomFilter').on('change', async function() {
            SEARCH_ROOM = $('#roomSearch').val().trim()
            FILTER_ROOM = $('#roomFilter').val()

            loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)
        })

        // filter show room per page
        $('#roomShowFilter').on('change', async function() {
            SEARCH_ROOM = $('#roomSearch').val().trim()
            FILTER_ROOM = $('#roomFilter').val()
            PER_PAGE = parseInt($('#roomShowFilter').val())
            PAGE = 1

            loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)
        })

        // search room
        $('#roomSearch').on('input', async function() {
            SEARCH_ROOM = $('#roomSearch').val().trim()
            FILTER_ROOM = $('#roomFilter').val()

            clearTimeout(SEARCH_TIMEOUT)

            SEARCH_TIMEOUT = setTimeout(async function() {
                PAGE = 1 // automatic set page to first page if using search filter
                loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)
            }, 1500)

        })

        // public, created, and joined room button
        $('#publicRoomsBtn').click(async function() {
            if ($('#publicRoomsBtn').hasClass('active')) return
            else {
                ROOM_IS_SELF = false
                ROOM_IS_JOINED = false
                PAGE = 1
                await loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)
                $('#joinedRoomsBtn').removeClass('active')
                $('#myRoomsBtn').removeClass('active')
                $('#publicRoomsBtn').addClass('active')
            }
        })

        $('#myRoomsBtn').click(async function() {
            if ($('#myRoomsBtn').hasClass('active')) return
            else {
                ROOM_IS_SELF = true
                ROOM_IS_JOINED = false
                PAGE = 1
                await loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)
                $('#publicRoomsBtn').removeClass('active')
                $('#joinedRoomsBtn').removeClass('active')
                $('#myRoomsBtn').addClass('active')
            }
        })

        $('#joinedRoomsBtn').click(async function() {
            if ($('#joinedRoomsBtn').hasClass('active')) return
            else {
                ROOM_IS_SELF = false
                ROOM_IS_JOINED = true
                PAGE = 1
                await loadChat(ROOM_IS_SELF, ROOM_IS_JOINED)
                $('#publicRoomsBtn').removeClass('active')
                $('#myRoomsBtn').removeClass('active')
                $('#joinedRoomsBtn').addClass('active')
            }
        })

    })

</script>
</body>
</html>
